html {
    background-color: rgb(177, 248, 168);
}

.center {
    text-align: center;
}

.mt-30 {
    margin-top: 30px;
}

.pink {
    background-color: pink;
    color: green;
}

.question {
    background-color: aqua;
}

.answer {
    background-color: lemonchiffon;
}

.darkmagenta {
    color: darkmagenta;
}

.red {
    color: red;
    font-style: italic;
}

.brown {
    color: brown;
}

.counter {
    vertical-align: text-bottom;
}

.marquee p {
    margin-top: 30px;
    display: inline-block;
    white-space: nowrap;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    font-size: 28px;
    color: blue;
}

@keyframes marquee {
    from {
        transform: translate(0%);
    }
    99%, to {
        transform: translate(-100%);
    }
}

.return p {
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.gorilla_area{
    width: 800px;
    height: 120px;
    margin: auto;
    overflow: hidden;
}

.gorilla_marquee {
    padding-left: 800px;
    white-space: nowrap;
    animation-name: marquee;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.gorilla_marquee img{
    max-width: 100px;
    margin-bottom: 0em;
}

@keyframes return {
    from {
        transform: translate(0%);
    }
    99%, to {
        transform: translate(-100%);
    }
}

.wrap {
    display: flex;
    min-height: 100vh;
}

.leftNavigation{
    font-style: italic;
    width: 200px;
    min-width: 200px;
    text-align: center;
    background-color: grey;
    color: #fff;
}

.profile {
    margin-top: 50px;
    background-color: orange;
}

.bss {
    margin-top: 50px;
    background-color: gold;
}

.compatible {
    margin-top: 50px;
    background-color: violet;
}

.quiz {
    margin-top: 50px;
    background-color: sandybrown;
}

.link {
    margin-top: 50px;
    background-color: palegoldenrod;
}

.content{
    flex: 1;
    text-align: center;
    margin-left: 10px;
}