html {
    background-color: rgb(177, 248, 168);
}

.marquee p {
    margin: 0;
    padding-left: 724px;
    display: inline-block;
    white-space: nowrap;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes marquee {
    from {
        transform: translate(0%);
    }
    99%, to {
        transform: translate(-100%);
    }
}