html {
    background-color: rgb(177, 248, 168);
}

.center {
    text-align: center;
}

.pink {
    background-color: pink;
    color:green;
}

.darkmagenta {
    color:darkmagenta;
}

.red {
    color: red;
    font-style: italic;
}

.brown {
    color: brown;
}

.marquee p {
    margin-top: 30px;
    padding-left: 724px;
    display: inline-block;
    white-space: nowrap;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-size: 28px;
    color: blue;
}

@keyframes marquee {
    from {
        transform: translate(0%);
    }
    99%, to {
        transform: translate(-100%);
    }
}


.return p {
    margin:0; 
    padding-left:724px; 
    display:inline-block; 
    white-space:nowrap;
    animation-name:marquee; 
    animation-timing-function:linear;
    animation-duration:3s; 
    animation-iteration-count:infinite;
    animation-direction: alternate;
    }
    @keyframes return {
      from   { transform: translate(0%);} 
      99%,to { transform: translate(-100%);}
    }